:root {
  --accent: rgb(49, 44, 44);
  --pure-white: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Noto Serif", serif;
  color: rgb(36, 35, 39);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0px 100px;
}

.section-title {
  font-size: 20px;
  color: white;
  text-shadow: 5px 7px 9px rgb(185, 34, 80);
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}

.header {
  background-color: rgb(36, 35, 39);
}

.header a {
  color: white;
  text-decoration: none;
}

.header-nav {
  display: flex;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
  width: 20%;
  font-size: 30px;
  font-weight: 500px;
  letter-spacing: 4px;
  text-shadow: -3px -4px 5px;
}

.header-logo img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  font-size: 18px;
  line-height: 18px;
  padding: 15px 15px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.header-menu-link:hover {
  background-color: rgb(185, 34, 80);
}

.intro {
  padding: 4em 0;
}

.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.intro-left {
  width: 30px;
}
.intro-img {
  width: 200px;
  height: 250px;
  border-radius: 10%;
}

.intro-right {
  width: 60%;
}

.intro-right h1 {
  text-shadow: 3px 5px 6px rgb(185, 34, 80);
  color: rgb(36, 35, 39);
  font-size: 35px;
  margin: 0 0 10px;
}

.intro-right h3 {
  color: rgb(185, 34, 80);
  margin: 0 0 10px;
}

.intro-right p {
  font-size: 16px;
}

.contacts ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts {
  background-color: rgb(36, 35, 39);
  border-radius: 30px;
  background-position: center;
  margin: 70px;
  padding: 0 15px 15px 0;
}
.contacts h4 {
  color: rgb(185, 34, 80);
  text-shadow: 3px 5px 9px;
  /* padding: 0 15px; */
  font-size: 20px;
}

.contacts p {
  color: white;
}

.contacts a {
  color: white;
  font-size: 16px;
}

.contacts li {
  padding: 15px 0;
}

.skills ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.skills h2 {
  color: rgb(185, 34, 80);
  font-size: 25px;
  text-shadow: 2px 4px 5px rgb(36, 35, 39);
}

.skills li {
  padding: 10px 30px;
  background-color: rgb(36, 35, 39);
  text-shadow: 3px 4px 6px;
  color: white;
  border-radius: 4px;
}

.code {
  text-align: center;
}

.code pre {
  text-align: left;
  background-color: rgb(36, 35, 39);
  border-radius: 20px;
}
.code h2 {
  color: rgb(185, 34, 80);
  font-size: 23px;
}

.code code {
  color: white;
  text-shadow: 1px 2px 3px;
}

.languages {
  margin: 0;
  padding: 0 15px 15px 0;
  justify-content: center;
}

.languages ul {
  justify-content: center;
  list-style: none;
  color: rgb(185, 34, 80);
  /* background-color: rgb(36, 35, 39); */
}

.languages h2 {
  color: rgb(185, 34, 80);
  font-size: 23px;
  text-shadow: -3px 4px 5px rgb(49, 44, 44);
}

.languages i {
  font-style: italic;
  color: rgb(185, 34, 80);
}

.education h2 {
  color: rgb(185, 34, 80);
  font-size: 23px;
}

.education h4 {
  color: rgb(36, 35, 39);
  text-shadow: -3px 4px 6px rgb(185, 34, 80);
  font-size: 17px;
}

.education ul {
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(185, 34, 80);
}
.education a {
  color: rgb(185, 34, 80);
}

.footer {
  justify-content: center;
  text-align: center;
  background-color: rgb(36, 35, 39);
  margin: 0;
  padding: 0 15px 15px 0;
}

.footer p {
  color: white;
  padding: 15px 0 0 15px;
}

.footer a {
  color: rgb(185, 34, 80);
}
